/* STYLE RESTE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* VARIABLES */

:root {
    --mainColor: #202020;
    --giftType1: #5E8358;
    --giftType2: #FF5E56;
    --giftType3: #3b5c9e;
    --giftType4: #FFC784;
    
    --giftType1Darker: #446040;
    --giftType2Darker: #b2413c;
    --giftType3Darker: #23375e;
    --giftType4Darker: #b28b5c;
    
}

/* GENERAL*/

body {
    background-color: blanchedalmond;
}

/* TITLE */

h1 {
    margin-top: 1vh;
    text-align: center;
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-size: 5em;
}

/* CALENDAR */

.calendar-container {
    margin: 0 auto;
    justify-content: space-around;
    width : 90vw;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.box {
    height: 180px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}
.vertical-ribbon {
    height: 100%;
    width: 5px;
    background-color: var(--mainColor);
    position: absolute;
    top: 0;
}
.horizontal-ribbon {
    height: 5px;
    width: 100%;
    background-color: var(--mainColor);
    position: absolute;
    left: 0;
}
.horizontal-ribbon::before {
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(/Assets/ribbon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -24px;
    left: 0;
}
p {
    line-height: 1.2em;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--mainColor);
    z-index: 1;
}
.break{
    flex-basis: 100%;
}
.not-yet {
    cursor: not-allowed;
}
.now {
    cursor: pointer;
}
.opened {
    cursor: default;
}

/* POP-INS */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 10vw;
    top: 25vh;
    width: 80vw;
    height: 40vh;
    border-radius: 100px;
    background-color: rgba(0,0,0,0.6);
    padding-top: 100px;
    cursor: pointer;
    transition: all 0.2s;
}
.modal-open {
    display: block;
}
.modal-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fefefe;
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-size: 3em;
}
.close {
    color: var(--mainColor);
    float: right;
    font-size: 3em;
    font-weight: bold;
    transition: all 0.2s;
}
.modal:hover {
    transform: scale(0.95);
}
.modal:hover .close {
    color: #fefefe;
}

/* JS CLASSES */
/* BOX COLORS */
.color1 {
    background-color: var(--giftType1);
}
.color2{
    background-color: var(--giftType2);
}
.color3 {
    background-color: var(--giftType3);
}
.color4 {
    background-color: var(--giftType4);
}
.color5 {
    background-color: var(--giftType1);
    background: repeating-linear-gradient( -45deg, var(--giftType1Darker), var(--giftType1Darker) 5px, var(--giftType1) 5px, var(--giftType1) 25px );
}
.color6 {
    background-color: var(--giftType2);
    background-image: repeating-linear-gradient(45deg, var(--giftType2Darker) 0, var(--giftType2Darker) 2px, var(--giftType2) 2px, var(--giftType2) 25px);
}
.color7 {
    background-color: var(--giftType3);
    background-image: radial-gradient(var(--giftType3Darker) 2px, var(--giftType3) 2px);
    background-size: 10px 10px;
}
.color8 {
    background-color: var(--giftType4);
    background-image:  radial-gradient(var(--giftType4Darker) 2px, transparent 2px), radial-gradient(var(--giftType4Darker) 2px, var(--giftType4) 2px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
/* RIBBON PLACEMENT */

.horizontal-ribbon__modifier1 {
    top: 20%;
}
.horizontal-ribbon__modifier2 {
    top: 30%;
}
.horizontal-ribbon__modifier3 {
    top: 80%;
}

/* BOX SIZES */
.day1 {
    flex: 1 1 100px;
}
.day2 {
    flex: 2 2 100px;
}
.day3 {
    flex: 3 3 100px;
}
.day4 {
    flex: 2 2 100px;
}
.day5 {
    flex: 3 3 100px;
}
.day6 {
    flex: 1 1 100px;
}
.day7 {
    flex: 3 3 100px;
}
.day8 {
    flex: 1 1 100px;
}
.day9 {
    flex: 2 2 100px;
}
.day10 {
    flex: 1 1 100px;
}
.day11 {
    flex: 1 1 100px;
}
.day12 {
    flex: 3 3 100px;
}
.day13 {
    flex: 2 2 100px;
}
.day14 {
    flex: 2 2 100px;
}
.day15 {
    flex: 1 1 100px;
}
.day16 {
    flex: 1 1 100px;
}
.day17 {
    flex: 1 1 100px;
}
.day18 {
    flex: 3 3 100px;
}
.day19 {
    flex: 2 2 100px;
}
.day20 {
    flex: 1 1 100px;
}
.day21 {
    flex: 3 3 100px;
}
.day22 {
    flex: 2 2 100px;
}
.day23 {
    flex: 1 1 100px;
}
.day24 {
    flex: 3 3 100px;
}